.page__content-dropdown-item {
    display: block;
    padding: 0 10px;
    margin: 8px 0;
    font-size: 14px;
    cursor: pointer;
}

.page__content-dropdown-item:focus, .page__content-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.page__content-dropdown-item.active::after {
    content: url("data:image/svg+xml,<svg width='18' height='13' viewBox='0 0 18 13' xmlns='http://www.w3.org/2000/svg'><path d='M1 6.238l4.97 4.97M16.714 1L6.225 11.49' stroke-width='2' stroke='%2313C948' fill='none' stroke-linecap='round'/></svg>");
    width: 13px;
    height: 9px;
    margin-left: 5px;
}